fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
geoalchemy2
alembic
python-dotenv
python-multipart
joblib
numpy
scikit-learn
xgboost
pandas
pillow
rio-tiler
rasterio
shapely
mercantile
pyproj>=3.0.0
python-jose[cryptography]
bcrypt
motor
