fastapi
uvicorn[standard]
psycopg2-binary
sqlalchemy
geoalchemy2
alembic
python-dotenv
python-multipart
joblib
numpy>=1.26.0
numba>=0.58.0
scikit-learn
xgboost
pandas
pillow
rio-tiler
rasterio
shapely
mercantile
pyproj>=3.0.0
python-jose[cryptography]
bcrypt
motor
earthengine-api
geopy
agora-token-builder==1.0.0
librosa>=0.10.1
soundfile
